/* Fonts --------------------------------------------------------------------- */
@import "partials/base";
@import "partials/fonts";


/* Reset --------------------------------------------------------------------- */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display:block;
}

html, body {
  padding: 0;
  margin: 0;
}


/* Root ---------------------------------------------------------------------- */
@include establish-baseline;

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
  
body {
  @include open-sans;
  background: $blue image-url("noise-blue.png", false, false);
  color:#FFF;
}


/* Links --------------------------------------------------------------------- */
a {
  &:hover, &:active {
    outline: none;
  }
  &:link, &:visited {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
  }
  &:focus, &:hover, &:active {
    color: $orange;
  }
}


/* Headings ------------------------------------------------------------------ */
h1,h2, h3, h4, h5, h6 {
  @include komika-title;
  text-transform:uppercase;
}

h3 {
  @include adjust-font-size-to(40px);
  @include single-text-shadow(rgba(#000, .2), 5px, 5px);
}


/* Forms --------------------------------------------------------------------- */
@include placeholder(#FFF);

input {
  &[type=email], &[type=text], &[type=url] {
    @include komika-title;
    @include adjust-font-size-to(16px);
    background:$orange;
    border:none;
    color:#FFF;
  }
}


/* Layout -------------------------------------------------------------------- */
header div, nav ul, section div, footer div {
  margin: 0 auto;
  max-width: px2em(940px);
  padding:0 px2em(10px);
}

header {
  margin-top: 35px;
  text-align:center;
  h1 {
    @include single-text-shadow($orange, 3px, 3px);
  }
  h2 {
    @include adjust-font-size-to(52px);
    @include single-text-shadow(#F2F2F2, 3px, 3px);
    color:$orange;
    margin:0;
  }
}

nav {
  background-color:#7AB9CD;
  background-color:rgba(#0F2830, .05);
  position:fixed;
  top:0;
  left:0;
  width:100%;
  h3 {
    @include invisible;
  }
  ul {
    list-style:none;
    margin-bottom:0;
  }
  li {
    float:left;
  }
  a {
    @include adjust-font-size-to(18px);
    color:#FFF;
    display:block;
    text-decoration:none;
    padding: 0px 26px;
    text-transform:uppercase;
  }
}

#obstacles {
  background:#FE6638;
  border-style:solid;
  border-width:7px 0;
  border-color:#EF6035;
  border-color:rgba(#000, .08);
  li {
    background:$green;
  }
}

#prizes {
  background:$green;
  border-style:solid;
  border-width:7px 0;
  border-color:#76A434;
  border-color:rgba(#000, .08);
}

#submission {
  border-top:7px solid #76B2C5;
  border-color:rgba(#000, .08);
}

#clock {
  @include digital-dream;
  @include adjust-font-size-to(140px);
  @include single-text-shadow(#000, 6px, 8px);
  color:$yellow;
}

footer {
  text-align:center;
  div, small {
    border-top:7px solid #76B2C5;
    border-color:rgba(#000, .08);
  }
  small {
    display:block;
  }
}